.background-blue {
    background-color: #0092F5;
}

.project-image {
    width: 400px;
    height: auto;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background-orange {
    background-color: #FF3E0A;
}

.background-white {
    background-color: white;
}